<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Adicionar Veículo</title>
</head>
<body>
<h1>Adicionar Veículo</h1>
<form th:action="@{/veiculos/novo}" th:object="${veiculo}" method="post">
    <label>Marca:</label>
    <input type="text" th:field="*{marca}" />
    <br/>
    <label>Modelo:</label>
    <input type="text" th:field="*{modelo}" />
    <br/>
    <label>Cor:</label>
    <input type="text" th:field="*{cor}" />
    <br/>
    <label>Placa:</label>
    <input type="text" th:field="*{placa}" required minlength="8" maxlength="8" pattern="^[A-Za-z0-9]{3}-[A-Za-z0-9]{4}$" placeholder="Ex: ABC-1B34" oninput="let v=this.value.toUpperCase().replace(/[^A-Z0-9]/g,'').slice(0,7); this.value = v.length>3 ? v.slice(0,3)+'-'+v.slice(3) : v;" />
    <br/>
    <label>Ano:</label>
    <input type="text" th:field="*{ano}" inputmode="numeric" pattern="^\d{4}$" minlength="4" maxlength="4" oninput="this.value=this.value.replace(/[^0-9]/g,'').slice(0,4)" placeholder="Ex: 2021" />
    <br/>
    <label>Valor:</label>
    <input type="text" th:field="*{valor}" />
    <br/>
    <label>Imagem:</label>
    <input type="text" th:field="*{imagem}" />
    <br/>
    <label>Observação:</label>
    <input type="text" th:field="*{observacao}" />
    <br/>
    <label>Fornecedor:</label>
    <input type="text" th:field="*{fornecedor}" />
    <br/>
    <button type="submit">Salvar</button>
</form>
<a th:href="@{/veiculos}">Voltar para a lista</a>
</body>
</html>